@charset "utf-8";
/* CSS Document */

body 
{
	background-color: powderblue; 
	background-image: url("medical.jpg"); 
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size:cover;

}
h1   {color: blue;}
p    {color: red;}

#mainheader
{
	border: solid; 
	position: static; 
	right: 0; 
	left: 0; 
	bottom: 0; 
	height: 70px;
}
.mainclass
{
	border: solid; 
	border-color:#A0F37E; 
	width: 830px; 
	margin: 0 auto
}

#container {
	border: solid; border-color: #3355A6; width: 80%; margin: 0 auto;
	
}
#insidebar{
	float: left; border: solid; border-color: #C12528; width: 400px;
	background-color:#8080FF;
}

#maininfo{
float: right; border: solid; width: 400px;	
}

#footer1{
	float: left; right: 0; bottom: 0; left: 0; width: 700; border: solid;
}

#footer2{
border: solid; position: absolute; right: 0; bottom: 0; left: 0;
}

#menucontainer{
	background-color:#06C;
	height: 40px;
}

.submitbuttons{
height: 30px;
width: 50px
	
}

